doctype html
html(lang="kr")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="script", href="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/8.1.0/adapter.min.js")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
        link(rel = "stylesheet", href="https://unpkg.com/mvp.css")
        base(href="/")
        title Face Ming
    body 
        header Face Ming
        main
            div#welcome
                form
                    input(type="text", placeholder="대화방 이름 입력", required)
                    button 입장
            div#call
                div#userStream
                    video#userFace(autoplay, playsinline, width="400", height="400")
                    button#muteBtn 음소거
                    button#cameraBtn 카메라 켜기
                    select#cameras
                    video#peersStream(autoplay, playsinline, width="400", height="400")
        script(src="/socket.io/socket.io.js")   
        script(src="/public/js/app.js")